attrs==21.2.0
iniconfig==1.1.1
numpy==1.21.4
packaging==21.2
pluggy==1.0.0
py==1.11.0
pyparsing==2.4.7
pytest==6.2.5
toml==0.10.2
-e git+https://github.com/gokhankesler/python-ds-unit-testing@5ba41529f1bb105fb49c14c1a6e32f642c625203#egg=unitTest
